h1 Heigh Oh

p id="current-time"

div id="video"

p id="remaining-time"

scss:
  #current-time {
    color:       red;
    font-weight: bold;
    text-align:  center;
  }

  #remaining-time {
    color:       blue;
    font-weight: bold;
    text-align:  center;
  }

coffee:

  addVideo = (videoId) ->
    $('#video').append "<iframe width=\"420\" height=\"315\" src=\"//www.youtube.com/embed/#{videoId}?rel=0&autoplay=1\" frameborder=\"0\" allowfullscreen></iframe>"

  canLoadVideo = (video) ->
    video && $('iframe').length == 0

  cleanRemainingTime = () ->
    $('#remaining-time').text ''

  cleanVideo = () ->
    $('#video').text ''

  displayCurrentTime = (time) ->
    $('#current-time').text "Il est #{time}"

  displayRemainingTime = (time) ->
    $('#remaining-time').text "#{time} avant la prochaine vidéo."

  videoIsPresent = () ->
    $('iframe').length > 0


  source = new EventSource('/stream')

  source.onmessage = (e) ->
    data = JSON.parse(e.data)

    displayCurrentTime(data.current_time)

    return if videoIsPresent()

    if canLoadVideo(data.video)
      addVideo(data.video)
      cleanRemaningTime()
    else
      cleanVideo()
      displayRemainingTime(data.remaining_time)
